.contact .info-item+.info-item {
    margin-top: 40px;
}

.contact .info-item i {
    font-size: 20px;
    color: var(--color-primary);
    float: left;
    width: 44px;
    height: 44px;
    background: #222425;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
    margin-right: 15px;
}

.contact .info-item h4 {
    padding: 0;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 5px;
    color: rgba(255, 255, 255, 0.5);
}

.contact .info-item p {
    padding: 0;
    margin-bottom: 0;
    font-size: 14px;
    color: #fff;
}

.contact .info-item:hover i {
    background: var(--color-primary);
    color: #fff;
}

.contact .email-form {
    width: 100%;
}

.contact .email-form .form-group {
    padding-bottom: 8px;
}

.contact .email-form .error-message {
    display: none;
    color: #fff;
    background: #df1529;
    text-align: left;
    padding: 15px;
    font-weight: 600;
}

.contact .email-form .error-message br+br {
    margin-top: 25px;
}

.contact .email-form .sent-message {
    display: none;
    color: #fff;
    background: var(--color-primary);
    text-align: center;
    padding: 15px;
    font-weight: 600;
}

.contact .email-form .loading {
    display: none;
    background: var(--color-secondary);
    text-align: center;
    padding: 15px;
    color: rgba(255, 255, 255, 0.6);
}

.contact .email-form .loading:before {
    content: "";
    display: inline-block;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin: 0 10px -6px 0;
    border: 3px solid var(--color-primary);
    border-top-color: var(--color-secondary);
    animation: animate-loading 1s linear infinite;
}

.contact .email-form input,
.contact .email-form textarea {
    border-radius: 4px;
    box-shadow: none;
    font-size: 14px;
    background-color: var(--color-secondary);
    border: 1px solid #2e3133;
    color: #fff;
}

::placeholder{
    color: #ccc!important;
}

.contact .email-form input {
    height: 44px;
}

.contact .email-form textarea {
    padding: 10px 12px;
}

.contact .email-form button[type=submit] {
    background: var(--color-primary);
    border: 0;
    padding: 10px 35px;
    color: #fff;
    transition: 0.4s;
    border-radius: 4px;
}

.contact .email-form button[type=submit]:hover {
    background: rgba(39, 167, 118, 0.8);
}

@keyframes animate-loading {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}