.footer {
    margin-top: 30px;
    padding: 30px 0;
    font-size: 14px;
    border-top: 1px solid rgba(255, 255, 255, 0.15);
}

.footer .copyright {
    text-align: center;
    color: rgba(255, 255, 255, 0.8);
}

.footer .credits {
    padding-top: 6px;
    text-align: center;
    font-size: 13px;
    color: rgba(255, 255, 255, 0.8);
}

.footer .credits a {
    color: var(--color-primary);
}